<div id="<%= dom_id game %>">
  <p>
    <strong>Team:</strong>
    <%= game.team_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= game.group_id %>
  </p>

  <p>
    <strong>Game result:</strong>
    <%= game.game_result %>
  </p>

</div>
